a {
    color: #09c;
    text-decoration: none;
    font-size: 200%;
}
a:hover {
    color: #f00;
    text-decoration: underline;
}

.line {
    background: linear-gradient(90deg, #000, #000);
}

.start {
    padding-left: 50%;
}
.start_text {
    font-size: 200%;
}

.info {
    margin-bottom: 10%;
}

body {
    margin: 0;
    background: url(../imgs/download.png);
}

.end {
    background: linear-gradient(90deg, #ebfde9, #ebfde9);
    padding-bottom: 11%;
}
